doctype html
html(lang='en')
	head
		title Circular percentage bar css 

	link(rel='stylesheet', href='styles/cpbs.css')

	body
		.c100(data-p=70)
			.slice
				.second_half
				.warp_first_half
					.first_half

		.c100(data-p=23)
			.slice
				.second_half
				.warp_first_half
					.first_half